html {
}
body {
  margin: 0px;
}
header {
  display: block;
  padding: 0 8px;
}
header nav {
  display: flex;
}
header nav h1 {
  margin: 0;
  padding: 0;
}
main {
  position: absolute;
  top: 37px;
  bottom: 20px;
  right: 0;
  left: 0;
  display: block;
  padding: 0;
}
svg {
}
svg circle,
svg line,
svg polygon,
svg polyline,
svg path {
  fill: none;
  stroke: black;
  stroke-width: 0.002;
}
svg circle.dot {
  fill: red;
  stroke: none;
}
svg text {
  fill: black;
  font-size: 0.05;
  font-family: sans;
}
footer {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 0 8px;
}
