html {
}
body {
  margin: 0px;
}
header {
  display: block;
  padding: 0 8px;
}
header nav {
  display: flex;
}
header nav h1 {
  margin: 0;
  padding: 0;
}
main {
  position: absolute;
  top: 37px;
  bottom: 20px;
  right: 0;
  left: 0;
  display: block;
  padding: 0;
}
svg {
}
footer {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 0 8px;
}
