---
title: Euclid Proposition 1
---
<svg class="greek float-right" xmlns="http://www.w3.org/2000/svg" viewBox="-1.02 -1.02 3.04 2.04" maintainAspectRatio="meet" transform="scale(1,-1)" >
  <circle id="A" class="dot" r="0.02" cx="0" cy="0" />
  <circle id="B" class="dot" r="0.02" cx="1" cy="0" />
  <circle id="C" class="dot" r="0.02" cx="0.5" cy="0.8660254037844386" />
  <line class="highlight" id="ABh" x1="0" y1="0" x2="1" y2="0" visibility="hidden" />
  <line id="AB" x1="0" y1="0" x2="1" y2="0" />
  <circle cx="0" cy="0" r="1" />
  <circle cx="1" cy="0" r="1" />
  <line id="AC" x1="0" y1="0" x2="0.5" y2="0.8660254037844386" />
  <line id="BC" x1="1" y1="0" x2="0.5" y2="0.8660254037844386" />
  <text x="0" y="0" text-anchor="end" transform="scale(1,-1) translate(-0.03, 0.02)">A</text>
  <text x="1" y="0" text-anchor="start" transform="scale(1,-1) translate(0.03, 0.02)">B</text>
  <text x="0.5" y="-0.86602540378443860" text-anchor="middle" transform="scale(1,-1) translate(0.0, -0.03)">C</text>
  <text x="-1" y="0" text-anchor="start" transform="scale(1,-1) translate(0.03, 0.02)">D</text>
</svg>
<div>
  <h2>To construct an equilateral triangle on a given finite straight line.</h2>
  <p>
    Let AB be the given finite straight line.
  </p>
  <p>
    It is required to construct an equilateral triangle on the straight line AB.
  </p>
  <p>
    Describe the circle BCD with center A and radius AB. Again describe the circle ACE with center B and radius BA. Join the straight lines CA and CB from the point C at which the circles cut one another to the points A and B.
  </p>
  <p>

I.Def.15
Now, since the point A is the center of the circle CDB, therefore AC equals AB. Again, since the point B is the center of the circle CAE, therefore BC equals BA.
  </p>
  <p>

But AC was proved equal to AB, therefore each of the straight lines AC and BC equals AB.
  </p>
  <p>

C.N.1
And things which equal the same thing also equal one another, therefore AC also equals BC.
  </p>
  <p>

Therefore the three straight lines AC, AB, and BC equal one another.
  </p>
  <p>

I.Def.20
Therefore the triangle ABC is equilateral, and it has been constructed on the given finite straight line AB.


</div>


