
html {
}
body {
  margin: 0px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

header {
  display: block;
  padding: 0 8px;
  nav {
    display: flex;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
}

main {
  padding: 0 20px;
  &.fill {
    position: absolute;
    top: 37px;
    bottom: 20px;
    right: 0;
    left: 0;
    display: block;
    padding: 0;
  }
}

svg {
  &.float-right {
    float: right;
    width: 70%;
  }
  .hidden {
    fill: none;
    stroke: none;
  }
  .highlight {
    fill: none;
    stroke: yellow;
    stroke-width: 0.02px;
  }

  circle,
  line,
  polygon,
  polyline,
  path {
    fill: none;
    stroke: black;
    stroke-width: 0.002px;
  }

  circle.dot {
    fill: red;
    stroke: none;
  }

  text {
    fill: black;
    font-size: 0.05px;
    font-family: sans;
  }
}

footer {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 0 8px;
}

