
html {
}

body {
  margin: 0px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  font-weight: bold;
  font-family: sans;
  height: 37px;

  nav {
    display: flex;
    h1 {
      margin: 0;
      padding: 0 8px;
    }
    a {
      display: block;
      color: black;
      padding: 3px 16px;
      text-decoration: none;
      &:hover {
        color: #009;
        background-color: #eee;
      }
      &.skool {
        padding: 8px 10px;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 22px;
        &.title {
          font-size: 26px;
          a {
            padding: 0px 16px 0px 0px;
          }
        }
        a {
          padding: 3px 16px;
        }
      }
    }
  }
}

main {
  padding: 0 20px;
  &.fill {
    position: absolute;
    top: 37px;
    bottom: 20px;
    right: 0;
    left: 0;
    display: block;
    padding: 0;
  }
}

svg {
  &.float-right {
    float: right;
    width: 70%;
  }
  .hidden {
    fill: none;
    stroke: none;
  }
  .highlight {
    fill: none;
    stroke: yellow;
    stroke-width: 0.02px;
  }
  &.scale {
    font-family: sans;
    border: solid 1px black;
    circle,
    line,
    polygon,
    polyline,
    path {
      stroke: black;
      stroke-width: 1px;
    }
    #left-pan {
    }
    #right-pan {
    }
    #pointer {
      fill: black;
    }
    #arrow {
      stroke: none;
      fill: black;
    }
  }
  &.greek {
    circle,
    line,
    polygon,
    polyline,
    path {
      fill: none;
      stroke: black;
      stroke-width: 0.002px;
    }

    circle.dot {
      fill: red;
      stroke: none;
    }

    text {
      fill: black;
      font-size: 0.05px;
      font-family: sans;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 0 8px;
}

