body {
  margin: 0px; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

header {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  font-weight: bold;
  font-family: sans;
  height: 37px; }
  header nav {
    display: flex; }
    header nav h1 {
      margin: 0;
      padding: 0 8px; }
    header nav a {
      display: block;
      color: black;
      padding: 3px 16px;
      text-decoration: none; }
      header nav a:hover {
        color: #009;
        background-color: #eee; }
      header nav a.skool {
        padding: 8px 10px; }
    header nav ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        font-size: 22px; }
        header nav ul li.title {
          font-size: 26px; }
          header nav ul li.title a {
            padding: 0px 16px 0px 0px; }
        header nav ul li a {
          padding: 3px 16px; }

main {
  padding: 0 20px; }
  main.fill {
    position: absolute;
    top: 37px;
    bottom: 20px;
    right: 0;
    left: 0;
    display: block;
    padding: 0; }

svg.float-right {
  float: right;
  width: 70%; }

svg .hidden {
  fill: none;
  stroke: none; }

svg .highlight {
  fill: none;
  stroke: yellow;
  stroke-width: 0.02px; }

svg.scale {
  font-family: sans;
  border: solid 1px black; }
  svg.scale #pointer {
    fill: black; }
  svg.scale #arrow {
    stroke: none;
    fill: black; }

svg.greek circle,
svg.greek line,
svg.greek polygon,
svg.greek polyline,
svg.greek path {
  fill: none;
  stroke: black;
  stroke-width: 0.002px; }

svg.greek circle.dot {
  fill: red;
  stroke: none; }

svg.greek text {
  fill: black;
  font-size: 0.05px;
  font-family: sans; }

footer {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 0 8px; }
